@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
html,
body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #34495e;
    width: 100%;
    height: 100%;
}

section {
  padding: 0 !important;
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -ms-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}

h1 { color: #ffffff;
  font-weight: 800;
  font-size: 65px;
  letter-spacing: 0px;
}

i { font-size: 50px; }

.section-content-container:hover .content-bg {
  opacity: 0.5;
}

.section-content-container:hover {
  cursor: pointer;
}

.content-bg {
    opacity: 0.1;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
 }

.content {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}

.section-header {
  height: 3px;
}

.content-header {
  display: none;
  opacity: .5;
}

.section-details {
  display: none;
  color: #ffffff;
}
.section-details i {
  font-size: 25px;
  padding-right: 10px;
}

.section-details li {
  margin: 5px 0px;
}

.links li { padding-left: 20px; }
.links li a { color: #ffffff; }
.project {
  background-color: #fafafa;
  color: #2c3e50;
  padding-left: 0px;
  padding-right: 0px;
}

.project .header {
  height: 100px;
}
.project .info {
  min-height: 120px;
  border-right: 1px solid #f1f1f1;
}
.project .footer {
  padding: 2px 5px;
  text-align: right;
  height: 50px;
  border-right: 1px solid #f1f1f1;
}

.conopsys { background-color: #333333; padding-top: 5px; }
.conopsys img, .vanishcubes img, .ulink img { height: 90px;}
.ulink { background-color: #378194;padding-top: 5px; }
.vanishcubes { background-color: #111111; padding-top: 5px;}
.myhome { background-color: #004d85; }
.myhome-icon {
  border-radius: 50%;
  height: 90px;
  padding-top: 30px;
  font-weight: 800;
  color: #cccccc !important;
  font-size: 30px;
}
.myhome-icon i {
  color: #cccccc !important;
  font-size: inherit;
}

#main-container { height: inherit; }
#main-container section {height: inherit; }

#be-1 i { color: #3498db; }
.be-1 { background-color: #3498db; }

#n-2 i { color: #27ae60; }
.n-2 { background-color: #27ae60; }

#n-3 i { color: #e74c3c; }
.n-3 { background-color: #e74c3c; }

#i-4 i { color: #d35400; }
.i-4 { background-color: #d35400; }

#e-5 i { color: #f1c40f; }
.e-5 { background-color: #f1c40f; }

#k-6 i { color: #1abc9c; }
.k-6 { background-color: #1abc9c; }

#i-7 i { color: #8e44ad; }
.i-7 { background-color: #8e44ad; }

#n-8 i { color: #ecf0f1; }
.n-8 { background-color: #ecf0f1; }

#g-9 i { color: #e67e22; }
.g-9 { background-color: #e67e22; }

#w-10 i { color: #27ae60; }
.w-10 { background-color: #27ae60; }

#o-11 i { color: #c0392b; }
.o-11 { background-color: #c0392b; }

#od-12 i { color: #f39c12; }
.od-12 { background-color: #f39c12; }

/* Small devices (tablets, 768px and below) */
@media (max-width: 768px) { 
    h1 { font-size: 1.9em; }
}
/* Really Small devices (tablets, 537px and below) */
@media (max-width: 537px) { 
    h1 { font-size: 1.3em !important; }
    .ulink { padding-top: 25px; }
    .ulink img { height: 50px;}
}